<div class="sidebar bg-success">
    <ul class="mynav">
        <li><a href="#" class="active"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
        <li><a href="#"><i class="fa fa-envelope"></i> Messages</a></li>
        <li><a href="#"><i class="fa fa-star"></i> Favorites</a></li>
        <li><a href="#"><i class="fa fa-users"></i> Groups</a></li>
        <li><a href="#"><i class="fa fa-tools"></i> Services</a></li>
        <li><a href="#"><i class="fa fa-sliders-h"></i> Settings</a></li>
    </ul>
</div>
